<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>編集</title>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="signin_body">
  	<h1>メモの内容を変更</h1>
	  <div class="cp_iptxt">
			<form action="/renew/memo/<%= @memo.id %>" method="post">
			    <p>名前：<input type="text" name="name" value="<%= @memo.name %>"></p>
			    <p>本文：<input type="text" name="body" class="text1"value="<%= @memo.body %>"></p>
			<div class="right">
			 <input type="submit" value="編集完了">
			</div>
			</form>
	  </div>
  </div>
</body>
</html>