<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Idea memory</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="shortcut icon" href="img/logo_ideamemory.png">
	<title>Idea Memory</title>
	<link rel="stylesheet" href="/css/index.css">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script>
      FontAwesomeConfig = { searchPseudoElements: true };
  </script>
</head>
<body>
  <%= yield %>
</body>
</html>
