<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>メモ機能</title>
</head>
<body></body>
<h1>メモ機能</h1>
	
<% @memos.each do |memo| %>
	<div>
		
		<div>
			<p><%= memo.name %></p>
			<p><%= memo.body %></p>
			<form action="/delete/memo/<%= memo.id %>" method="post">
				<input type="submit" value="DELETE">
			</form>
			<a href="/edit/memo/<%= memo.id %>">EDIT</a>
		</div>
	
	</div>
<% end %>
<a href="/index">戻る</a><br>
<a href="/new/memo">New</a>

</body>
</html>