<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>メモ機能</title>
</head>
<body>
<form action="/new/memo/id" method="post">
	<p>題名：<input type="text" name="name"></p>
	<p>本文：<input type="text" name="body"></p>
	<input type="submit" value="新しくメモを追加">    
</form>
</body>
</html>

