<div class="signin">
 <div class="signin_body">
　　<h1>新規登録</h1>
        <form action="/signup" method="post">
            <div class="cp_iptxt">
                <div class="left">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;メールアドレス：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="mail" placeholder="メールアドレス"class="sample1"></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;パスワードを入力：&nbsp;&nbsp;<input type="password" name="password" placeholder="パスワード"class="sample1"><br></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;パスワードの確認：&nbsp;&nbsp;<input type="password" name="password_confirmation" placeholder="パスワードの確認"class="sample1"><br></p>
                </div>
            </div><br>
            <div class="right">
             <input type="submit" value="新規登録"><br>
            </div>
        </form>
 </div>
</div>
