<h1 class="pb-5">ログイン</h1>
<% if flash[:alert] %>
	<p><%= flash[:alert] %></p>
<% end %>
<div class="mx-auto px-5" style="max-width: 400px;">
  <form action="/signin" method="post">
    <div class="form-group pb-3" style="text-align: left;">
      <label>メールアドレス</label>
      <input type="email" class="form-control" name="mail" placeholder="idea@exapmle.com">
    </div>
    <div class="form-group pb-3" style="text-align: left;">
      <label>パスワード</label>
      <input type="password" class="form-control" name="password" placeholder="パスワード">
    </div>
    <button type="submit" class="btn btn-primary">ログイン</button>
  </form>
</div>
