<h1>マンダラートを作成する</h1>
<form action="/mandalart_new" method="post">
		 <div class="cell-format">
			<div class="none"><input type="text" name="body11" class="text_small"></div>
			<div class="none"><input type="text" name="body12" class="text_small"></div>
			<div class="none"><input type="text" name="body13" class="text_small"></div>
			<div class="up"><input type="text" name="body14" class="text_small"></div>
			<div class="none"><input type="text" name="body15" class="text_small"></div>
			<div class="none"><input type="text" name="body16" class="text_small"></div>
			<div class="up"><input type="text" name="body17" class="text_small"></div>
			<div class="none"><input type="text" name="body18" class="text_small"></div>
			<div class="none"><input type="text" name="body19" class="text_small"></div>
		 </div>
		 <div class="cell-format">
			<div class="none"><input type="text" name="body21" class="text_small"></div>
			<div class="none"><input type="text" name="body22" class="text_small_yellow"></div>
			<div class="none"><input type="text" name="body23" class="text_small"></div>
			<div class="up"><input type="text" name="body24" class="text_small"></div>
			<div class="none"><input type="text" name="body25" class="text_small_yellow"></div>
			<div class="none"><input type="text" name="body26" class="text_small"></div>
			<div class="up"><input type="text" name="body27" class="text_small"></div>
			<div class="none"><input type="text" name="body28" class="text_small_yellow"></div>
			<div class="none"><input type="text" name="body29" class="text_small"></div>
		 </div>
		 <div class="cell-format">
			<div class="none"><input type="text" name="body31" class="text_small_space_right"></div>
			<div class="none"><input type="text" name="body32" class="text_small_space_right"></div>
			<div class="none"><input type="text" name="body33" class="text_small_space_right"></div>
			<div class="up"><input type="text" name="body34" class="text_small_space_right"></div>
			<div class="none"><input type="text" name="body35" class="text_small_space_right"></div>
			<div class="none"><input type="text" name="body36" class="text_small_space_right"></div>
			<div class="up"><input type="text" name="body37" class="text_small_space_right"></div>
			<div class="none"><input type="text" name="body38" class="text_small_space_right"></div>
			<div class="none"><input type="text" name="body39" class="text_small_space_right"></div>
		 </div>
		 <div class="cell-format">
			<div class="none"><input type="text" name="body41" class="text_small"></div>
			<div class="none"><input type="text" name="body42" class="text_small"></div>
			<div class="none"><input type="text" name="body43" class="text_small"></div>
			<div class="up"><input type="text" name="body44" class="text_small_blue"></div>
			<div class="none"><input type="text" name="body45" class="text_small_blue"></div>
			<div class="none"><input type="text" name="body46" class="text_small_blue"></div>
			<div class="up"><input type="text" name="body47" class="text_small"></div>
			<div class="none"><input type="text" name="body48" class="text_small"></div>
			<div class="none"><input type="text" name="body49" class="text_small"></div>
		 </div>
		 <div class="cell-format">
			<div class="none"><input type="text" name="body51" class="text_small"></div>
			<div class="none"><input type="text" name="body52" class="text_small_yellow"></div>
			<div class="none"><input type="text" name="body53" class="text_small"></div>
			<div class="up"><input type="text" name="body54" class="text_small_blue"></div>
			<div class="none"><input type="text" name="body55" class="text_small_middle"></div>
			<div class="none"><input type="text" name="body56" class="text_small_blue"></div>
			<div class="up"><input type="text" name="body57" class="text_small"></div>
			<div class="none"><input type="text" name="body58" class="text_small_yellow"></div>
			<div class="none"><input type="text" name="body59" class="text_small"></div>
		 </div>
		 <div class="cell-format">
			<div class="none"><input type="text" name="body61" class="text_small"></div>
			<div class="none"><input type="text" name="body62" class="text_small"></div>
			<div class="none"><input type="text" name="body63" class="text_small"></div>
			<div class="up"><input type="text" name="body64" class="text_small_blue"></div>
			<div class="none"><input type="text" name="body65" class="text_small_blue"></div>
			<div class="none"><input type="text" name="body66" class="text_small_blue"></div>
			<div class="up"><input type="text" name="body67" class="text_small"></div>
			<div class="none"><input type="text" name="body68" class="text_small"></div>
			<div class="none"><input type="text" name="body69" class="text_small"></div>
		 </div>
		 <div class="cell-format">
			<div class="none"><input type="text" name="body71" class="text_small_space_left"></div>
			<div class="none"><input type="text" name="body72" class="text_small_space_left"></div>
			<div class="none"><input type="text" name="body73" class="text_small_space_left"></div>
			<div class="up"><input type="text" name="body74" class="text_small_space_left"></div>
			<div class="none"><input type="text" name="body75" class="text_small_space_left"></div>
			<div class="none"><input type="text" name="body76" class="text_small_space_left"></div>
			<div class="up"><input type="text" name="body77" class="text_small_space_left"></div>
			<div class="none"><input type="text" name="body78" class="text_small_space_left"></div>
			<div class="none"><input type="text" name="body79" class="text_small_space_left"></div>
		 </div>
		 <div class="cell-format">
			<div class="none"><input type="text" name="body81" class="text_small"></div>
			<div class="none"><input type="text" name="body82" class="text_small_yellow"></div>
			<div class="none"><input type="text" name="body83" class="text_small"></div>
			<div class="up"><input type="text" name="body84" class="text_small"></div>
			<div class="none"><input type="text" name="body85" class="text_small_yellow"></div>
			<div class="none"><input type="text" name="body86" class="text_small"></div>
			<div class="up"><input type="text" name="body87" class="text_small"></div>
			<div class="none"><input type="text" name="body88" class="text_small_yellow"></div>
			<div class="none"><input type="text" name="body89" class="text_small"></div>
		</div>
		<div class="cell-format">
			<div class="none"><input type="text" name="body91" class="text_small"></div>
			<div class="none"><input type="text" name="body92" class="text_small"></div>
			<div class="none"><input type="text" name="body93" class="text_small"></div>
			<div class="up"><input type="text" name="body94" class="text_small"></div>
			<div class="none"><input type="text" name="body95" class="text_small"></div>
			<div class="none"><input type="text" name="body96" class="text_small"></div>
			<div class="up"><input type="text" name="body97" class="text_small"></div>
			<div class="none"><input type="text" name="body98" class="text_small"></div>
			<div class="none"><input type="text" name="body99" class="text_small"></div><br>
		 </div>
		 <input type="hidden" name="workspace_id" value="<%= @workspace.id %>">
		 <input type="submit" value="マンダラートを保存する">
</form>

