<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>マンダラート機能</title>
</head>
<body>
<form action="/workspace" method="post">
	<p>マンダラートのタイトル：<input type="text" name="name"></p>
	<p><input type="text" name="body"></p>
	<input type="submit" value="新しくマンダラートを制作">    
</form>
</body>
</html>

