<h1>マンダラート機能</h1>
<p>自分だけのマンダラートを作成しよう</p>
<div class="container p-5">
	<div class="row">
		<% @mandalarts.each do |mandalart| %>
		<div class="col-sm-6 mb-5" style="text-align: left;">
			<div class="card">
				<div class="card-body">
			    <h5 class="card-title"><%= mandalart.name %></h5>
			    <a href="/edit/mandalart/<%= mandalart.id %>"><i class="fas fa-edit fa-2x"></i></a>
				  <form action="/delete/mandalart/<%= mandalart.id %>" method="post">
					  <input type="submit" value="DELETE">
			  	</form>
			  </div>
			</div>
		</div>
	<% end %>
	</div>
</div>
<div style="text-align: right;">
	<!--<a href="/index"><i class="fas fa-undo-alt fa-5x"></i></a><br>-->
	<a href="/new/mandalart"><i class="fas fa-plus-circle fa-5x"></i>
</div>
