<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>

<h1>マンダラートを作成する</h1>
<form action="/new/mandalart" method="post">
		<p>マンダラートのタイトル：<input type="text" name="mandalart_title"></p>
		 <div class="container-fluid p-5">
		 	<div class="row">
		 		<% range = 1..9 %>
		 		<% range.each do |i| %>
		 			<div class="col-sm-4 p-1">
			 			<div class="container">
			 				<div class="row">
	 		          <% range.each do |j| %>
					 				<div class="col-4 p-0">
					 					<input type="text" name="body<%= i %><%= j %>" style="width:100%;">
					 				</div>
				 				<% end %>
				 			</div>
						</div>
					</div>
				<% end %>
		<div style="text-align: right;">
			<input type="submit" value="マンダラートを保存する">
			<button id="printButton">pdfに変換</button>
		</div>
		 <script>
	        // ボタン要素を取得
	        var printButton = document.getElementById("printButton");
	
	        // ボタンがクリックされたときの処理
	        printButton.addEventListener("click", function() {
	            window.print();
	        });
    	　</script>
</form>
